* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  height: 100vh;
}

th{
  font-size: 11px;
}
  /* th{
    font-size: 12px;
  } */

.testStyle{
  font-size: 8px;
}
