* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
main{
  margin: 8px;
  /* border: 2px solid black; */
  width: 100%;
  
}

form{
  width: 38%;
  display: flex;
  flex-direction: column;
}

input{
  height: 45px;
  margin: 2px;
}

form button{
  margin-top: 5px;
  width: 40%;
  padding: 10px;
  margin-bottom: 2px;
}

.submit-data-container{
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}

.data-container{
  /* border: 1px solid black; */
}
